body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

/* NAVBAR */
header {
  padding: 20px 60px;
  background: rgba(0,0,0,0.4);
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo span {
  color: #38bdf8;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  padding: 120px 60px;
  background: linear-gradient(120deg,#0f172a,#1e293b);
}

.hero h1 span {
  color: #38bdf8;
}

.hero h2 {
  margin-top: 10px;
  font-weight: 300;
}

.buttons {
  margin-top: 30px;
}

/* BUTTONS */
.btn {
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
}

.primary {
  background: #38bdf8;
  color: black;
}

.outline {
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

.small {
  padding: 8px 18px;
  font-size: 14px;
}

/* SECTIONS */
.section {
  padding: 80px 60px;
  max-width: 1000px;
  margin: auto;
}

.dark {
  background: #020617;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 20px;
}

.skill {
  padding: 20px;
  border-radius: 10px;
  background: #1e293b;
  text-align: center;
}

/* PROJECT */
.project-card {
  background: #1e293b;
  padding: 30px;
  border-radius: 15px;
  margin-top: 30px;
}

.project-card span {
  color: #38bdf8;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 30px;
  background: #020617;
}